* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

body {
  font-family: "Outfit", Arial, sans-serif;
}

.frame {
  position: relative;
  width: 1080px;
  height: 1080px;
  background: #fff;
}

/* TOP */

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 805px;
}

/* SOL FOTO */

.leftImgWrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 537px;
  height: 805px;
  overflow: hidden;
}

.imgCover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BOŞLUK */

.divider {
  position: absolute;
  left: 537px;
  top: 0;
  width: 6px;
  height: 805px;
  background: #ffffff;
}

/* SAĞ FOTO */

.rightImgWrap {
  position: absolute;
  left: 543px;
  top: 0;
  width: 537px;
  height: 805px;
  background: #f7f5f2;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* DEKUPE */

.imgContain {
  width: 75%;
  height: 75%;
  object-fit: contain;
}

/* BOTTOM */

.bottom {
  position: absolute;
  top: 805px;
  left: 0;
  width: 1080px;
  height: 275px;
}

/* LOGO */

.logoBottom {
  position: absolute;
  left: 116px;
  top: 96px;
  width: 305px;
}

/* CAPSULE */

.collection {
  position: absolute;
  left: 116px;
  top: 155px;
  font-size: 20px;
  font-weight: 300;
}

/* TEXT ALANI */

.rightTextWrap {
  position: absolute;
  left: 660px;
  top: 110px;
  width: 320px;
  text-align: center;
}

/* TITLE */

.title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 6px;
}

/* PRICE */

.priceRow {
  display: flex;
  justify-content: center;
}

.singlePrice {
  font-size: 20px;
  font-weight: 300;
}

.oldPrice {
  text-decoration: line-through;
}

.hidden { display:none; }
