.sepetteBar {
  position: absolute;
  left: -53px;
  top: 605px;
  width: 418px;
  height: 48px;

  background: #000000;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 34px;
  font-weight: 300;
  line-height: 1;
  white-space: nowrap;
}

.sepetteBar span {
  font-weight: 700;
  margin-left: 8px;
}
